openapi: 3.0.3
info:
  title: Merveil AI Developer API
  version: 1.0.0
  description: Production API for authorized third-party applications integrating Merveil identity, Passport, trusted connections, AI, calls, property, company, World, investor intelligence, credits and verification status.
servers:
  - url: https://api.merveil.ai
security: [{ApiKeyAuth: []}]
tags: [{name: System},{name: Developer},{name: Identity},{name: Connect},{name: AI},{name: Call},{name: Ecosystem}]
paths:
  /api/v1/health: {get: {tags: [System], security: [], summary: API health, responses: {'200': {description: Operational}}}}
  /api/v1/apps:
    get: {tags: [Developer], security: [{UserBearerAuth: []}], summary: List applications, responses: {'200': {description: Applications returned}}}
    post: {tags: [Developer], security: [{UserBearerAuth: []}], summary: Create application and issue one-time API key, requestBody: {required: true, content: {application/json: {schema: {$ref: '#/components/schemas/CreateApplication'}}}}, responses: {'201': {description: Created}}}
    patch: {tags: [Developer], security: [{UserBearerAuth: []}], summary: Update or rotate application key, parameters: [{name: id, in: query, required: true, schema: {type: string, format: uuid}}], responses: {'200': {description: Updated or rotated}}}
    delete: {tags: [Developer], security: [{UserBearerAuth: []}], summary: Revoke application, parameters: [{name: id, in: query, required: true, schema: {type: string, format: uuid}}], responses: {'200': {description: Revoked}}}
  /api/v1/profile: {get: {tags: [Identity], summary: Read safe profile, responses: {'200': {description: Profile returned}, '403': {description: Missing scope}}}}
  /api/v1/passport: {get: {tags: [Identity], summary: Read safe Passport summary, responses: {'200': {description: Passport returned}, '403': {description: Missing scope}}}}
  /api/v1/companies: {get: {tags: [Ecosystem], summary: List verified companies, responses: {'200': {description: Companies returned}}}}
  /api/v1/properties: {get: {tags: [Ecosystem], summary: List property listings, responses: {'200': {description: Properties returned}}}}
  /api/v1/connect: {get: {tags: [Connect], summary: Read authorized connections, responses: {'200': {description: Connections returned}}}}
  /api/v1/messages: {get: {tags: [Connect], summary: Read messages from a participating conversation, parameters: [{name: conversation_id, in: query, required: true, schema: {type: string, format: uuid}}], responses: {'200': {description: Messages returned}, '403': {description: Not a participant}}}}
  /api/v1/ai: {post: {tags: [AI], summary: Generate a Merveil AI response, requestBody: {required: true, content: {application/json: {schema: {$ref: '#/components/schemas/AiRequest'}}}}, responses: {'200': {description: Generated}, '429': {description: Rate or daily limit}}}}
  /api/v1/call:
    get: {tags: [Call], summary: Check Merveil AI Call capability, responses: {'200': {description: Capability status}}}
    post: {tags: [Call], summary: Start an authorized outbound AI call, requestBody: {required: true, content: {application/json: {schema: {$ref: '#/components/schemas/CallRequest'}}}}, responses: {'201': {description: Call queued}, '400': {description: Invalid input}, '503': {description: Call provider not configured}}}
  /api/v1/world: {get: {tags: [Ecosystem], summary: Read World content, responses: {'200': {description: Content returned}}}}
  /api/v1/investors: {get: {tags: [Ecosystem], summary: Read investor intelligence, responses: {'200': {description: Investor posts returned}}}}
  /api/v1/credits: {get: {tags: [Ecosystem], summary: Read Merveil credit balance, responses: {'200': {description: Balance returned}}}}
  /api/v1/verification: {get: {tags: [Identity], summary: Read privacy-safe verification status, responses: {'200': {description: Verification returned}}}}
  /api/v1/usage: {get: {tags: [Developer], security: [{UserBearerAuth: []}], summary: Read API usage analytics, responses: {'200': {description: Usage returned}}}}
  /api/v1/webhooks: {get: {tags: [Developer], security: [{UserBearerAuth: []}], summary: List webhooks, responses: {'200': {description: Webhooks returned}}}, post: {tags: [Developer], security: [{UserBearerAuth: []}], summary: Register webhook, responses: {'201': {description: Created with one-time signing secret}}}, delete: {tags: [Developer], security: [{UserBearerAuth: []}], summary: Delete webhook, responses: {'200': {description: Deleted}}}}
  /api/v1/oauth: {get: {tags: [Developer], security: [{UserBearerAuth: []}], summary: List OAuth clients, responses: {'200': {description: Clients returned}}}, post: {tags: [Developer], security: [{UserBearerAuth: []}], summary: Register OAuth client, responses: {'201': {description: Client credentials returned once}}}}
components:
  securitySchemes:
    ApiKeyAuth: {type: apiKey, in: header, name: X-API-Key}
    UserBearerAuth: {type: http, scheme: bearer, bearerFormat: JWT}
  schemas:
    CreateApplication:
      type: object
      required: [name]
      properties:
        name: {type: string, maxLength: 80}
        description: {type: string, maxLength: 500}
        environment: {type: string, enum: [sandbox, production]}
        redirect_uris: {type: array, items: {type: string, format: uri}}
        scopes: {type: array, items: {type: string}}
    AiRequest:
      type: object
      required: [messages]
      properties:
        messages: {type: array, minItems: 1}
        max_tokens: {type: integer, maximum: 2048}
    CallRequest:
      type: object
      required: [assistant_id, customer_number]
      properties:
        assistant_id: {type: string}
        phone_number_id: {type: string}
        customer_number: {type: string, description: E.164 phone number}
