openapi: 3.1.0
info:
  title: Merveil Developer API
  version: 2.0.0
  description: Build, deploy, and publish with Merveil AI. Scoped API keys + RLS.
  contact:
    name: Merveil Developer Support
    url: https://junction.technology/developer
    email: developers@merveil.ai
servers:
  - url: https://api.junction.technology
    description: Production
security:
  - bearerAuth: []
tags:
  - name: Projects
  - name: Builds
  - name: Files
  - name: Integrations
  - name: Marketplace
  - name: Webhooks
paths:
  /v1/projects:
    get:
      tags: [Projects]
      summary: List your projects
      parameters:
        - in: query
          name: kind
          schema: { type: string }
        - in: query
          name: limit
          schema: { type: integer, default: 20, maximum: 100 }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Project' }
    post:
      tags: [Projects]
      summary: Create a project from a prompt
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, kind, prompt]
              properties:
                name: { type: string }
                kind:
                  type: string
                  enum: [ai_agent, website, web_app, mobile_app, game_2d, game_3d, video, short_video, music, book, api, other]
                prompt: { type: string }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Project' }
  /v1/projects/{projectId}:
    get:
      tags: [Projects]
      parameters:
        - { in: path, name: projectId, required: true, schema: { type: string, format: uuid } }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Project' }
    delete:
      tags: [Projects]
      parameters:
        - { in: path, name: projectId, required: true, schema: { type: string, format: uuid } }
      responses:
        '204': { description: Deleted }
  /v1/builds:
    post:
      tags: [Builds]
      summary: Start a build
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [build_id, prompt, kind]
              properties:
                build_id: { type: string, format: uuid }
                prompt: { type: string }
                kind: { type: string }
      responses:
        '202':
          description: Accepted
  /v1/builds/{buildId}:
    get:
      tags: [Builds]
      parameters:
        - { in: path, name: buildId, required: true, schema: { type: string, format: uuid } }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/BuildRun' }
  /v1/integrations/connect:
    post:
      tags: [Integrations]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [provider, redirect]
              properties:
                provider: { type: string }
                redirect: { type: string, format: uri }
      responses:
        '200':
          description: OK
  /v1/marketplace/publish:
    post:
      tags: [Marketplace]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [project_id, category]
              properties:
                project_id: { type: string, format: uuid }
                category: { type: string }
                price_cents: { type: integer, default: 0 }
      responses:
        '201': { description: Created }
  /v1/webhooks:
    get:
      tags: [Webhooks]
      responses:
        '200': { description: OK }
    post:
      tags: [Webhooks]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [url, events]
              properties:
                url: { type: string, format: uri }
                events: { type: array, items: { type: string } }
      responses:
        '201': { description: Created }
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: mv_live_xxx
  schemas:
    Project:
      type: object
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        slug: { type: string }
        kind: { type: string }
        status: { type: string }
        preview_url: { type: string }
        created_at: { type: string, format: date-time }
    BuildRun:
      type: object
      properties:
        id: { type: string, format: uuid }
        project_id: { type: string, format: uuid }
        status: { type: string }
        progress: { type: integer }
        stage_log: { type: array, items: { type: object } }
        artifacts: { type: object }
        error: { type: string, nullable: true }
